<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Who'sBlog</title>
  <style>
    <%- include('./style.css') %>
  </style>
  <%- include('./template/header') %>
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%- include('./template/navbar') %>
  <div class="banner">
    <div class="banner__title">
      <div class="banner__text">存放技術之地</div>
      <p class="banner__intr">Welcome to my blog</p>
    </div>
  </div>
  <main class="main__article">
    <div class="wrapper">
    <% if(username) { %>
    <form method="POST", action="/update_comment/<%= comment.id %>" class="comments_add">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control md-3" name="title" placeholder="Title" value="<%= comment.title %>">
      </div>
      <div class="form-group">
        <label>Content</label>
        <textarea class="form-control md-3" rows="3" name="content"><%= comment.content %></textarea>
      </div>
        <button type="submit" class="btn btn-primary mb-2">更新</button>
    </form>
    <% } %>
    </div>
  </main>
  <footer class="footer">
    <div class="footer__ltd">
      Copyright © 2020 Who's Blog All Rights Reserved.
    </div>
  </footer>
</body>
</html>

